.container{
    height: 70vh;
    width: 70vh;
    background-color: azure;
    border: 2px solid black;
    display: inline-grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    /* justify-items: center;
    align-items: center; */
    /* place-items: center; */

}
.container div{
    align-content: center;
    height: 50%;
    width: 60%;
    background-color: green;
    border: 2px solid black;
    box-shadow: 0px 3px 9px black;
    text-align: center;
    /* align-self: center;*/
    /* justify-self: center; */
    place-self: center;
}
.testdiv{
    height: 40vh;
    width: 40vw;
    background-color: red;
    border: 2px solid black;
    display: inline-block;
}
