.container{
    height: 70vh;
    width: 70vh;
    background-color: azure;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 6px;

}
.container div{
    /* justify-content: center; */
    align-content: center;
    background-color: green;
    border: 2px solid black;
    box-shadow: 0px 3px 9px black;
    text-align: center;
}
.div1{
    grid-column: 3/7;
    grid-row: 2/3;
}
.div2{
    grid-row: 1/5;
    grid-column: 2/3;
}
.div3{
    grid-row: 3/5;
    grid-column: 3/5;
}
.div4{
    grid-row: 3/7;
    grid-column: 5/6;
}
.div5{
    grid-row: 5/6;
    grid-column: 1/5;
}