*{
    font-family: 'Courier New';
    margin: 0;
    padding: 0;
    border-radius: 1.5vh;
    padding: .55vh;
}
*::selection{
    background-color: #000;
    color: #fff;
}
h1,h3{
    color: #f52936;
}

.upvotes,.upvotes+button{
    color: #000;
    background-color: #15ff4c;
        border: 1px solid red;
}


button:hover, .upvotes:hover,
.upvotes+button:hover {
    /* background-color: rgba(111, 250, 255, 0.639); */
    border-color: #ff000064;
    background-color: #15ff4c64;
    transform: scale(1.1);
}
.upvotes:active,
.upvotes+button:active{
    border-color: #ffd50064;
    background-color: #15f7ff64;

}

#myId p{
    color: green;
}
.post a{
    background-color: #ffff00;
    color: blue;
    text-decoration: none;
    font-weight: 700;
    /* text-transform: uppercase; */
    
}
div>input{
    background-color: lightcyan;
    border: none;
    box-shadow: 0 0 2px 2px rgb(255, 255, 136);
    margin: 2vh;
}
div>input:hover{
    transform: scale(1.1);
}

input[type="text"]{
    color: black;
    font-weight: 545;
    
}
input[type="password"]{
    color: rgb(255, 98, 0);
    font-weight: 545;
}

.postarea:nth-of-type(2n-1){
    background-color: #cffcce3c;
}
.postarea:nth-of-type(2n){
    background-color: #cffcce3c;
}
.postarea{
    margin-bottom: 2vh;
    border: .5vh solid;
    align-content: center;
}

.title::first-letter{
    color: #000;
}




header nav ul{
display: flex;
flex-direction: row;
list-style-type: none;

}
.fLnHeader{
    /* background-color: #000 !important;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form{
    display: inline-block;
    /* flex: 1, 1, auto; */
    /* flex: auto; */
}

.logsign{
    display: inline-block;
    /* flex: 1, 1, auto; */
    /* flex: auto; */
}
.title{
    /* flex: 1, 1, auto; */
}
header{
    position: sticky;
    background-color: lightblue;
    top: 0px;
    margin-right: 10px;
    width: 99.5%;
    height: 20vh;
}
h1{
    display: inline-block;
}
header nav ul li a{
    text-decoration: none;
    padding: 1vh;
    font-family: sans-serif;
    font-size: large;

}
#road_light{
    height: 50vh;
    /* padding: 2px; */
    background-color: #000;
}
.signal{
    background-color: #fff;
    height: 3vh;
    width: 13vh;
    border: 2px solid rgb(0, 0, 0);
    /* margin: 2vh; */
}
.red ,.green, .yellow{
    height: 9vh;
    width: 9vh;
    /* background-color: #fff; */
    border-radius: 50%;
    border: 3px solid black;
    margin: 1.5vh;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.sprt{
    background: white;
    width: 15vh;
    height: 40vh;

}